In [ ]:
1) Count the number of Salesperson whose name begin with ‘a’/’A.

select count(Sname) from 
salesPeople where Sname like 'a%' or Sname like 'A%';

2) Display all the Salesperson whose all orders worth is more than Rs. 2000.

select * from snum
order
3) Count the number of Salesperson belonging to Newyork.

select count(Sname) from SalesPeople
where city ='Newyork';
4) Display the number of Salespeople belonging to London and belonging to Paris.

select * from SalesPeople
where city='London' and city='Paris';
5) Display the number of orders taken by each Salesperson and their date of orders.

select orders.Onum, SalesPeople.Snum, Orders.Odate
from Orders
inner join SalesPeople ON Orders.Snum=Salesperson.Snum;